@model MyApp.Mvc.Models.IndexViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>MVC Helpers</h2>
    <p class="lead">Encriptando Ids automaticamente.</p>
</div>

<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a data-toggle="tab" href="#post">Post</a></li>
    <li role="presentation"><a data-toggle="tab" href="#usage">Utilização</a></li>
    <li role="presentation"><a data-toggle="tab" href="#ajax">Ajax</a></li>
</ul>
<div id="tab-content" class="tab-content">
    <div class="tab-pane active" id="post">
        <h2>Post and add 1 to the value</h2>

        @using (Html.BeginForm())
        {
        <div class="form-group">

            @Html.LabelFor(m => m.IntIdTest)
            @Html.TextBoxFor(m => m.IntIdTest)
            <br />

        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.LongIdTest)
            @Html.TextBoxFor(m => m.LongIdTest)
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
        }
    </div>

    <div class="tab-pane" id="usage">
        <h2>EncryptedInt teste</h2>
        <p>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Propriedade</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>DisplayFor</td>
                        <td>@Html.DisplayFor(m => m.IntIdTest)</td>
                    </tr>
                    <tr>
                        <td>DisplayNameFor</td>
                        <td>@Html.DisplayNameFor(m => m.IntIdTest)</td>
                    </tr>
                    <tr>
                        <td>DisplayTextFor</td>
                        <td>@Html.DisplayTextFor(m => m.IntIdTest)</td>
                    </tr>
                    <tr>
                        <td>LabelFor</td>
                        <td>@Html.LabelFor(m => m.IntIdTest)</td>
                    </tr>
                    <tr>
                        <td>NameFor</td>
                        <td>@Html.NameFor(m => m.IntIdTest)</td>
                    </tr>
                    <tr>
                        <td>TextBoxFor</td>
                        <td>@Html.TextBoxFor(m => m.IntIdTest)</td>
                    </tr>
                    <tr>
                        <td>EditorFor</td>
                        <td>@Html.EditorFor(m => m.IntIdTest)</td>
                    </tr>
                    <tr>
                        <td>ValueFor</td>
                        <td>@Html.ValueFor(m => m.IntIdTest)</td>
                    </tr>
                    <tr>
                        <td>HiddenFor</td>
                        <td>@Html.HiddenFor(m => m.IntIdTest)</td>
                    </tr>
                    <tr>
                        <td>ActionLink</td>
                        <td>
                            @Html.ActionLink("Link com IntIdTest", "Index", new { IntIdTest = Model.IntIdTest })
                            <br />
                            @Html.ActionLink("Link com IntIdTest", "Index", new { IntIdTest = Model.IntIdTest }).ToHtmlString()
                        </td>
                    </tr>
                    <tr>
                        <td>Load int value ajax</td>
                        <td>
                            <a href="#" onclick="javascript:loadIntValue('@Model.IntIdTest','loadintValueSpan')">Load value</a>
                            <span class="text-info" id="loadintValueSpan"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </p>
    </div>
    <div class="tab-pane" id="ajax">
        <h1>Ajax</h1>
        <p>red red red red red red</p>
    </div>
</div>


@section scripts{


    <script>

        function loadIntValue(encryptedValue, setValueToElement) {
            $.getJSON('/Home/GetIntValueFromEncrypted', { id: encryptedValue }, function (data, status, xhr) {
                $('#' + setValueToElement).html(data);
            });
        }

    </script>

}